html {
  font-family: 'Noto Serif', serif;
  line-height: 1.5rem;
}

header {
  color: #fff;
  background-color: #70ad55;
}

input,
select,
textarea {
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
